/* navbar */
.menu{
    background-color:rgb(60, 61, 61);
    position: fixed;
    z-index: 1;
    width: 100%;
    padding: 0px;
}
.container-fluid {
    padding-right: 15px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}
.titulo{
    font-family: 'Indie Flower', cursive;
    color: #F8E006;
    font-size: 2em;
}
.listas{
    font-family: 'Alegreya', serif;
}
.listas a{
    color: white;
}
.nav>li>a:hover {
    text-decoration: none;
    background-color: #F8E006;
}
/* Presentacion */
button{
    color: white;
}
.imagenheader{
    width: 1349px;
    z-index: -1;
}
.letras{
    position: absolute;
    top: 300px;
    left: 70px;
    color: white;
    text-align: center;
}
.letras h3{
    font-family: 'Indie Flower', serif;
    font-size: 5em;
}
.letras h1{
    font-family: 'Alegreya', serif;
    font-size: 5em;
}
.letras button{
    background-color: #F8E006;
    width: 200px;
}

/* Seccion Servicios */
.tituloServicio{
    text-align: center;
    margin-top: 40px;
}
.tituloServicio h1{
    font-family: 'Roboto', serif;
    font-size: 4em;
}
.tituloServicio p{
    font-family: 'Alegreya', cursive;
    color: #B4AFAF;
}
.icon i{
    border-radius: 120px;
    width: 150px;
    height: 150px;
    margin-left: 80px;
    margin-top: 80px;
    background-color: #F8E006;
    background-position-y: 80px;
    color: white;
}
.textoServicio{
    margin-bottom: 80px;
}
.textoServicio h3{
    font-family: 'Roboto', serif;
    text-align: center;
}
.textoServicio p{
    font-family: 'Alegreya', cursive;
    color: #B4AFAF;
}
/* seccion portafolio */
.portafolio{
    background-color: #E9E5E5;
    text-align: center;
}
.tituloPortafolio h1{
    margin-top: 100px;
    font-family: 'Roboto', serif;
    font-size: 4em;
}
.tituloPortafolio p{
    font-family: 'Alegreya', cursive;
    color: #B4AFAF;
    margin-bottom: 100px;
}
.carTitulo{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 2em;
}
.parrafo{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: #C4BEBE;
}
/* Seccion About */
.tituloAbout{
    margin-top: 130px;
    text-align: center;
    margin-bottom: 100px;
}
.tituloAbout h1{
    font-family: 'Roboto', serif;
    font-size: 4em;
}
.tituloAbout p{
    font-family: 'Alegreya', cursive;
    color: #B4AFAF;
}
#about , .row {
    margin-bottom: 50px;
}
.titleCar{
    font-family: 'Roboto', serif;
}
.parratCar{
    font-family: 'Alegreya', cursive;
    color: #B4AFAF;
}
.redondo {
    background-color: yellow;
    border-radius: 300px;
    color: white;
    width: 160px;
    height: 160px;
    margin-left: 36%;
    text-align: center;
}
.redondo h3{
    margin-top: 40px;
}
/* Secion team */
.team{
    background-color: #E9E5E5;
}
.tituloTeam{
    margin-top: 80px;
    margin-bottom: 80px;
    text-align: center;
}
.tituloTeam h1{
    font-family: 'Roboto', serif;
    font-size: 4em;
}
.tituloTeam p{
    font-family: 'Alegreya', cursive;
    color: #B4AFAF;
}
.imagenes{
    background-position: center;
}
.imagenes img{
    margin-left: 70px;
}
.nombres h3{
    font-family: 'Roboto', serif;
    font-size: 2em;
    margin-left: 90px;
}
.nombres p{
    font-family: 'Alegreya', cursive;
    color: #B4AFAF;
    margin-left: 130px;
}
.iconitos {
    margin-left: 150px;
}
.parrafoFinal{
    font-family: 'Alegreya', cursive;
    color: #B4AFAF;
    text-align: center;
    margin-left: 60px;
    margin-top: 50px;
}
/* Seccion Logos */
.logos{
    margin-top: 50px;
    margin-bottom: 50px;
}
