
.menu{
    background-color:rgb(60, 61, 61);
    position: fixed;
    z-index: 1;
    width: 90em;
}
.titulo{
    font-family: 'Indie Flower', cursive;
    color: #F8E006;
    font-size: 2em;
}
.listas{
    font-family: 'Alegreya', serif;
}
.listas a{
    color: white;
}
.nav>li>a:hover {
    text-decoration: none;
    background-color: #F8E006;
}
button{
    color: white;
}
.imagenheader{
    width: 89.1em;
    z-index: -1;
}
.letras{
    position: absolute;
    top: 300px;
    left: 310px;
    color: white;
    text-align: center;
}
.letras h3{
    font-family: 'Indie Flower', serif;
    font-size: 5em;
}
.letras h1{
    font-family: 'Alegreya', serif;
    font-size: 5em;
}
.letras button{
    background-color: #F8E006;
    width: 200px;
}
.tituloServicios{
    text-align: center;
}
.imgServicios{
    display: inline-block;

}